<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Contralto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="false"/>
    </appSettings>
    <userSettings>
        <Contralto.Properties.Settings>
            <setting name="SystemType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Drive0Image" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive1Image" serializeAs="String">
                <value />
            </setting>
            <setting name="HostAddress" serializeAs="String">
                <value>34</value>
            </setting>
            <setting name="HostPacketInterfaceName" serializeAs="String">
                <value />
            </setting>
            <setting name="HostPacketInterfaceType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlternateBootType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BootAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BootFile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InterlaceDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThrottleSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWindowsFormsHighDpiAutoResizing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAudioDAC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAudioDACCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioDACCapturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnablePrinting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReversePageOrder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TridentImages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
        </Contralto.Properties.Settings>
    </userSettings>
</configuration>
